//55 33
@import "value.less";

i.icon {
    width: unit(@search-bar-icon-size/@base-px-2-rem, rem);
    height: unit(@search-bar-icon-size/@base-px-2-rem, rem);
    display: inline-block;
    &.message {
        background-image: url("../img/icon/message@2x.png");
        background-size: 100% 100%;
        margin-left: unit(40/@base-px-2-rem, rem);
        margin-right: unit(30/@base-px-2-rem, rem);
        
    }
    &.search {
        background-image: url("../img/icon/search@2x.png");
        background-size: 100% 100%;
        width: unit(@search-input-icon-size/@base-px-2-rem, rem);
        height: unit(@search-input-icon-size/@base-px-2-rem, rem);
        margin-left: unit(40/@base-px-2-rem, rem);
        margin-right: unit(30/@base-px-2-rem, rem);
        margin-top: unit(10/@base-px-2-rem, rem); 
    
    }
    &.scan {
        background-image: url("../img/icon/scan@2x.png");
        background-size: 100% 100%;
        margin-right: unit(40/@base-px-2-rem, rem); 
        
    }
    /*
    底部导航栏图标
    */
    &.home {
        background-image: url("../img/icon/home@2x.png");
        background-size: 100% 100%;
        margin-top: unit(5/@base-px-2-rem, rem); 
        width: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        height: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        &.active {
            background-image: url("../img/icon/home-red@2x.png");
        }
        
    }
    &.hot {
        background-image: url("../img/icon/hot@2x.png");
        background-size: 100% 100%;
        margin-top: unit(5/@base-px-2-rem, rem);
        width: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        height: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        
    }
    &.shopcar {
        background-image: url("../img/icon/shopcar@2x.png");
        background-size: 100% 100%;
        margin-top: unit(5/@base-px-2-rem, rem);
        width: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        height: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        
    }
    &.my {
        background-image: url("../img/icon/my@2x.png");
        background-size: 100% 100%;
        margin-top: unit(5/@base-px-2-rem, rem);
        width: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        height: unit(@nav-buttom-bar-icon-size/@base-px-2-rem, rem);
        
    }
    &.totop {
        background-image: url("../img/icon/gotop@2x.png");
        background-size: 100% 100%;
        width: unit(@go-to-top-icon-size/@base-px-2-rem, rem);
        height: unit(@go-to-top-icon-size/@base-px-2-rem, rem);
        
    }

}
