@import "value.less";
@import "func.less";
@import "base.less";

/****************

商家名称

****************/

.door-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    //侧轴居中
    align-items: center;
    justify-content: flex-start;
    padding: 0 unit(@shopcar-left-right-blank/@base-px-2-rem, rem);
    >span {
        // height: unit( @shopcar-door-height/@base-px-2-rem, rem);
        // line-height: unit( @shopcar-door-height/@base-px-2-rem, rem);
        .make-line-and-height-p(@shopcar-door-height);
        font-size: 16px;
    }
    .shopcar-check-icon {
        font-size: 0;
        margin-right: unit(45/@base-px-2-rem, rem);
        width: unit(@shopcar-check-icon/@base-px-2-rem, rem);
        height: unit(@shopcar-check-icon/@base-px-2-rem, rem);
        i {
            // margin-top: unit(80/@base-px-2-rem, rem);
            // margin-right: unit(45/@base-px-2-rem, rem);
        }
    }
}


/****************

单件商品 有左边和右边

****************/

.shopcar-list {
    padding: unit(@shopcar-left-right-blank/@base-px-2-rem, rem);
    border-top: 1px solid @shopcar-border-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    //两边对齐
    justify-content: space-between;
}


/****************

单件商品 左边 勾选 + 商品图

****************/

.shopcar-list-left {
    width: 60%;
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    //侧轴居中
    align-items: center;
    justify-content: flex-start;
    //check icon 容器
    .shopcar-list-icon, .shopcar-check-icon {
        font-size: 0;
        margin-right: unit(45/@base-px-2-rem, rem);
        width: unit(@shopcar-check-icon/@base-px-2-rem, rem);
        height: unit(@shopcar-check-icon/@base-px-2-rem, rem);
        i {
            // margin-top: unit(80/@base-px-2-rem, rem);
            // margin-right: unit(45/@base-px-2-rem, rem);
        }
    }
    .shopcar-list-img {
        font-size: 0;
        height: unit(300/@base-px-2-rem, rem);
        width: unit(300/@base-px-2-rem, rem);
        img {
            width: 100%;
            height: unit(300/@base-px-2-rem, rem);
            width: unit(300/@base-px-2-rem, rem);
        }
    }
}


/****************

单件商品 右边 商品名 + 单价 + 数量

****************/

.shopcar-list-right {
    font-size: 13px;
    margin-left: unit(30/@base-px-2-rem, rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: 100%;
    //justify-content: space-between;
    p {
        //置顶
        align-self: flex-start;
    }
    .shopcar-product-price-count {
        width: 100%;
        //置底
        align-self: flex-end;
    }
}


/****************

单件商品 单价 + 数量 

****************/

.shopcar-product-count {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 16px;
    > span {
        padding-left: unit(80/@base-px-2-rem, rem);
        align-self: center;
    }
    .shopcar-product-count-c {
        //line-height: unit(@shopcar-add-icon/@base-px-2-rem, rem);
        //font-size: 0;
        align-self: center;
        span {
            float: left;
            line-height: unit(@shopcar-add-icon/@base-px-2-rem, rem);
            //height: unit(@shopcar-add-icon/@base-px-2-rem, rem);
            padding: unit(0/@base-px-2-rem, rem) 0;
            // font-size: 16px;
        }
        i {
            float: left;
            box-sizing: content-box;
            padding: unit(0/@base-px-2-rem, rem) unit(30/@base-px-2-rem, rem);
            //vertical-align: middle;
            //line-height: unit(@shopcar-add-icon/@base-px-2-rem, rem);
        }
    }
}


/****************

空购物车 

****************/

.shopcar-empty {
    background-color: #fff;
    text-align: center;
    padding: unit(100/@base-px-2-rem, rem) 0;
    p {
        font-size: 18px;
        padding-bottom: unit(100/@base-px-2-rem, rem);
    }
    a {
        display: inline;
        padding: unit(10/@base-px-2-rem, rem);
    }
    span {
        font-size: 14px;
        padding: unit(15/@base-px-2-rem, rem) unit(70/@base-px-2-rem, rem);
        background-color: @comment-select-bt-base-bg;
    }
}


