@import "value.less";
@import "func.less";
@import "base.less";
@import "fixed-el.less";
@import "icon.less";
@import "shopcar.less";
@import "details-comment.less";
@import "my.less";
@import "order.less";
html {
    font-size: 113.6px;
}

body {
    background-color: #fff;
    height: 100%;
    background-color: #e6e6e6;
    color: #333;
}

a {
    display: block;
}

p {
    &.text-red {
        color: @text-red;
    }
}

textarea {
    width: 100%;
    resize: none;
}

.wrapper {
    width: 100%;
    height: 1000px;
    background-color: @wrapper-bg-color;
    margin: 0 auto;
    max-width: @max-width;
    //min-width: @min-width;
}


/************************

Swiper 分页指示器颜色

************************/

.swiper-pagination-bullet-active {
    background-color: @text-red !important;
}


/************************

滑动页

************************/

.main-wrapper {
    //main-wrapper 同级的class 用来标识 不同页面
    position: relative;
    width: 100%;
    max-width: @max-width;
    margin-top: unit((@search-bar-height + @nav-bar-height + 2)/@base-px-2-rem, rem);
    padding-bottom: unit((@nav-buttom-bar-height ) /@base-px-2-rem, rem);
    //feature 只存在标题栏时，高度为 search-bar的高度
    //各种页面下 可见块的顶部边距 
    &.title-bar {
        margin-top: unit((@base-nav-bar-height)/@base-px-2-rem, rem);
        //padding-bottom: unit(0 /@base-px-2-rem, rem);
        padding-bottom: unit((@nav-buttom-bar-height ) /@base-px-2-rem, rem);
        &.h-100-white {
            background-color: #fff;
            height: 100%;
        }
        &.no-b-nav {
            padding-bottom: 0;
        }
    }
    &.h-title-bar {
        margin-top: unit((@base-nav-bar-height + @nav-bar-height)/@base-px-2-rem, rem);
        padding-bottom: unit((@nav-buttom-bar-height) /@base-px-2-rem, rem);
        &.h-100-white {
            background-color: #fff;
            height: 100%;
        }
        &.no-b-nav {
            padding-bottom: 0;
        }
    }
    &.feature {
        padding-bottom: unit(0 /@base-px-2-rem, rem);
    }
    &.shopcar {
        padding-bottom: unit((@nav-buttom-bar-height )*2 /@base-px-2-rem, rem);
    }
    &.my-page {
        background-color: @my-page-bg-color;
        height: 100%;
    }
    &.my-center {
        background-color: #fff;
        height: 100%;
    }
    &.about {
        iframe {
            width: 100%;
            height: 100vh;
        }
    }
    &.searchresult {
        .base-product-label:last-of-type {
            border-bottom: 1px solid #b2b3b4;
        }
    }
}


/************************

头部大图
可以复用的样式
main-wrapper 
    big-banner
        big-banner-imgBox
            p

************************/

.big-banner {
    .big-banner-imgBox {
        width: 100%;
        max-width: @max-width;
        height: unit(750/@base-px-2-rem, rem);
        // background-image: url("../img/banner-img.jpg");
        // background-size: 100%;
        // background-repeat: no-repeat no-repeat;
        // background-position: center center;
        position: relative;
        // to fix the big image split the page
        // http://www.divcss5.com/wenji/w364.shtml
        overflow: hidden;
        img {
            //display: block;
            // to fix the big image split the page
            // http://stackoverflow.com/questions/7055393/center-image-using-text-align-center
            height: unit(750/@base-px-2-rem, rem);
            position: relative;
            //-webkit- to fix UC borwser transform not work.
            -webkit-transform: translateX(-50%) scale(1.1, 1.1);
            transform: translateX(-50%) scale(1.1, 1.1);
            zoom: 1.1;
            //fix the ip6 over device not in the center 
            left: 49.9%;
            @media screen and (min-width: 768px) {
                -webkit-transform: translateX(-50%) scale(1.2, 1.2);
                transform: translateX(-50%) scale(1.2, 1.2);
                zoom: 1.2;
            }
        }
    }
    /*大图下的文字*/
    .make-big-img-p(@big-banner-text-height);
}


/************************

产品大图

************************/

div.product-imgBox {
    width: 100%;
    max-width: @max-width;
    height: unit(750/@base-px-2-rem, rem);
    position: relative;
    overflow: hidden;
    img {
        height: unit(750/@base-px-2-rem, rem);
        position: relative;
        //-webkit- to fix UC borwser transform not work.
        -webkit-transform: translateX(-50%) scale(1, 1);
        transform: translateX(-50%) scale(1, 1);
        zoom: 1.1;
        left: 50%;
        @media screen and (min-width: 768px) {
            -webkit-transform: translateX(-50%) scale(1.2, 1.2);
            transform: translateX(-50%) scale(1.2, 1.2);
            zoom: 1.2;
        }
    }
    //大图下的正三角
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 46.999%;
        border-left: unit(40/@base-px-2-rem, rem) solid transparent;
        border-right: unit(40/@base-px-2-rem, rem) solid transparent;
        border-bottom: unit(40/@base-px-2-rem, rem) solid #fff;
    }
    //隐藏正三角
    &.no-after {
        &:after {
            display: none;
        }
    }
}


/************************

产品Swiper

************************/

div.swiper-product {
    .swiper-slide {
        text-align: center;
        img {
            height: unit(360/@base-px-2-rem, rem);
        }
        p {
            text-overflow: ellipsis;
            line-height: 1.4em;
            height: 2.8em;
            overflow: hidden;
            @media screen and (min-width: 768px) {
                font-size: 20px;
                letter-spacing: 2px;
            }
            &+p {
                color: red;
                font-weight: 600;
            }
        }
        //last swipwer look more……
        &:last-child {
            //to fix UC borwser margin-top not work.
            .clearfix();
            p {
                font-size: 15px;
                margin: unit(45/@base-px-2-rem, rem);
                margin-top: unit(100/@base-px-2-rem, rem);
                // height: unit(250/@base-px-2-rem, rem);
                // line-height: unit(250/@base-px-2-rem, rem);
                .make-line-and-height-p(250);
                border: 1px solid #999;
                font-weight: 600;
                @media screen and (min-width: 768px) {
                    font-size: 20px;
                    letter-spacing: 2px;
                    font-weight: 500;
                }
            }
        }
    }
}


/************************

产品Swiper  只有单个商品

************************/

.no-swiper-product {
    width: 100%;
    a {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        //http://stackoverflow.com/questions/15381172/css-flexbox-child-height-100
        //使项目下的所有元素高度100%
        align-items: stretch;
        //修复移动端图显示不正常
        .product-imgBox {
            //height: unit(700/@base-px-2-rem, rem);
            width: unit(1800/@base-px-2-rem, rem);
            img {
                width: 100%;
            }
            &::after {
                display: none;
            }
        }
        .product-name-price {
            //该项目主轴为纵向
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            align-items: flex-start;
            p {
                &:nth-child(2) {
                    color: @text-red;
                }
            }
        }
    }
}


/************************

单个产品展示

************************/

.one-product {
    padding-bottom: unit(50/@base-px-2-rem, rem);
    img {
        width: 100%;
        border-top: 1px solid #eee;
        //height: unit(630/@base-px-2-rem, rem);
        // -webkit-transform: scale(1.2,1.2);
        // transform:  scale(1.2,1.2);
        padding: 0 unit(100/@base-px-2-rem, rem);
    }
    p {
        padding: 0 unit(50/@base-px-2-rem, rem);
        font-size: 14px;
        +p {
            text-align: right;
            color: red;
            font-weight: 600;
        }
        @media screen and (min-width: 768px) {
            font-size: 20px;
            letter-spacing: 2px;
        }
    }
}


/************************

2X2产品页

************************/

.base-mt-wrapper {
    .make-2X2-product-box();
    //have product-box-wrapper 
    >p::first-of-type {}
}


/************************

产品容器

************************/

.base-mt-wrapper {
    .base-title(none);
    //.make-big-img-p(120);
    // &:first-child {
    //     margin-top: unit(0/@base-px-2-rem, rem);
    // }
}


/************************

单个产品展示

布局容器

************************/

.base-mt-wrapper {
    margin-top: unit( @base-mt /@base-px-2-rem, rem);
    background-color: #fff;
    /*精品推荐*/
    .base-title(none);
    &.pt-40 {
        padding-top: unit( 40 /@base-px-2-rem, rem);
    }
}

.base-mt-wrapper() {
    //defluat 140
    margin-top: unit(@base-mt/@base-px-2-rem, rem);
    background-color: #fff;
}

.base-pd-lr-wrapper {
    background-color: #fff;
    padding: 0 unit(@base-pd-lr/@base-px-2-rem, rem);
}

.base-pd-tb-wrapper {
    background-color: #fff;
    padding: unit(@base-pd-tb/@base-px-2-rem, rem) 0;
}

.base-pd-wrapper {
    background-color: #fff;
    padding: unit(@base-pd-tb/@base-px-2-rem, rem);
}


/*

加在完毕文字提示

*/

//直接用于任何容器 已具有样式
p.end-text {
    font-size: 13px;
    color: #999;
    .mod-retina-display(20px, 0px);
    position: relative;
    width: 100%;
    text-align: center;
    .make-line-and-height-p(@big-banner-text-height);
    font-size: 15px;
    background-color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    .mod-retina-display(20px, 2px);
}

//购物车猜你喜欢 两条线
.shopcar, .arrival, .wish, .collect {
    .base-mt-wrapper {
        .base-title(line);
        > p.guess-you-like {
            color: #aaa;
            font-size: 16px;
        }
    }
}

//按钮样式
button {
    padding: unit(25/@base-px-2-rem, rem) unit(80/@base-px-2-rem, rem);
    color: #fff;
    border-radius: 5px;
}

a.bigBtn {}