//value.less
//px-2-rem not mind this value
@base-px-2-rem: 113.6;
//fix swiper over the nav bar,swiper is 10
@z-index-nav-search-bar: 11;
//icon url
@icon-address: "../img/icon";
//longPic url
@longPic-address: "../img/productLongPic";
@min-width: 320px;
@max-width: 640px;

/****************

配色

****************/

@bar-border-color: #b2b2b2;
//链接高亮红
@wrapper-bg-color: #f7f7f7;
//可见页背景色
@search-area-color: #e8eced;
//顶部导航栏 未激活字体色
@nav-bar-link-color: #8a8a8a;
//产品详情页下 字体色 
@text-primary: #333;
@text-gray: #aaa;
//产品详情页底部导航栏 字体色
@product-tips-bg-color: #e6e6e6;
@product-nav-text-color: #676767;
@product-tips-text-color: #5a5a5a;
//标签按钮激活背景色
@comment-select-bt-active-bg: #ffcbcb;
//标签按钮背景色
@comment-select-bt-base-bg: #f0f0f0;
//评论页 单条评论
@comment-one-border-color: #d4d5d6;
//购物车边框色
@shopcar-border-color: #b2b3b4;
//我的页面底色 
@my-page-bg-color: #f7f7f7;
//新增收货地址 警告提示背景色
@pink: #f8bec0;
@group-pink: #fe939d;
//新增收货地址 警告提示字体色
@alert-red-color: #f06469;
//登陆圆角长按钮
@login-btn-bg-color: #ed5358;
//收货地址按钮
//就收红
@red: #e9282e;
@group-state-bg-color: #f0475a;
//我的订单页
//边框分隔线颜色
@border-color-gray-very-light: #ebebeb;
@border-color-gray-very-light-rgb: argb(@border-color-gray-very-light);
@border-color-gray-light: #c8c7cc;
@border-color-gray: #989898;
//拼团灰
@group-gray: #ebebeb;
//拼团黑
@group-black: #262626;
//物流页绿色
@green: #25ae5f;
@light-green: #b9e5cc;
//404蓝
@light-blue: #bbe3fa;
@blue: #96d6f7;
@dark-blue: #3284c6;
//btn disable
@btn-disable: #8b8b8b;

/****************

首页搜索栏

****************/

@search-bar-height: 130px;
@search-bar-blank: 12;

/****************

首页搜索栏输入框

****************/

@search-area-height: 90;
@search-area-width: 450px;
@search-area-blank: 10;
@search-input-height: 75;

/****************

顶部导航栏 通用 优惠券 我的订单 

****************/

@nav-bar-height: (@search-bar-height - 10);
@nav-bar-blank: 20;
@nav-bar-link-padding: 28;

/****************

底部导航栏

****************/

@nav-buttom-bar-height: @search-bar-height + 10;

/****************

首页图片轮播下的文字占位高度 就手国际

****************/

@big-banner-text-height: 140;

/****************

icon 图标大小

****************/

@search-bar-icon-size: 90;
@search-input-icon-size: 50;
@nav-buttom-bar-icon-size: 80;
@go-to-top-icon-size: 90;
@my-page-icon-size: 120;
@my-page-icon-size-small: 100;
@shopcar-check-icon: 70;
//购物车加减按钮
@shopcar-add-icon: 50;
//输入框左方图标
@input-icon: 60;
//搜索栏两侧图标
@search-icon-size: 40px;

/****************

通用 标题栏

****************/

@base-nav-bar-icon-size: @search-bar-icon-size;
@base-nav-bar-height: (@search-bar-height + 20);

/****************

产品详情页

****************/

/****************

产品详情页 底部导航栏

****************/

//产品详情页 底部导航栏
@product-nav-bar-height: ( @nav-buttom-bar-height - 10);
//购物车
@shopcar-door-height: @base-nav-bar-height;
@shopcar-left-right-blank: 50;

/****************

产品评论页

****************/

/****************

通用容器

****************/

//分隔容器外边距
@base-mt: 40;
//容器内边距
@base-pd-lr: 40;
@base-pd-tb: 40;

/****************

我的页面

****************/

@user-header-imgSize: 170;
@my-page-icon-mt: 10;
@my-page-icon-mb: 13;

/****************

新增收货地址

****************/