
//px-2-rem not mind this value
@base-px-2-rem: 113.6;

//fix swiper over the nav bar,swiper is 10
@z-index-nav-search-bar: 11;


@min-width: 320px;
@max-width: 640px;

@link-active-color: #e93036;
@wrapper-bg-color: #e6e6e6;

// 搜索栏
@search-bar-height: 130px;
@search-bar-blank: 16;
@search-bar-border-color :#b2b2b2;
// 搜索输入框
@search-area-height: 90;
@search-area-width: 450px;
@search-area-blank: 10;
@search-area-color: #e8eced;
// input
@search-input-height: 75;

// 搜索栏两侧图标
@search-icon-size: 40px;

// 顶部导航栏
@nav-bar-height: (@search-bar-height - 10);
@nav-bar-blank: 20;
@nav-bar-link-padding: 28;

//底部导航栏
@nav-buttom-bar-height: @search-bar-height + 20;


//大图下的文字占位高度
@big-banner-text-height: 140;


//icon url
@image-address: "../img/icon";
//icon 

@search-bar-icon-size: 90px;
@search-input-icon-size: 50px;
@nav-buttom-bar-icon-size: 90px;
@go-to-top-icon-size: 90;

